/*===============================

    DEFAULT VALUES:
    
    Font Family: Roboto Condensed
    
    Purple: #9381FF (Buttons, Icons, Links, Lines & Backgrounds)
    Light Purple: #B8B8FF (Headings)
    White: #F8F7FF (Paragraphs)
    Cream: #FFEEDD (Text with black backgrounds)


=================================*/

/* General CSS */


html,
body {
    height: 100%;
}



body {

    font-family: "Roboto Condensed", sans-serif;

}

h3 {
    text-transform: uppercase;
}

/*============================================
                HOME
=============================================*/

#home {

    height: 100%;
}

#home-cover {

    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

#home-content-box {

    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /*text-align: center;*/
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-shadow: 2px 2px 4px #000000;

}

/*=====================================================
        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* parallax scrolling */
    opacity: 0.9;
}

/*======================================================
        BUTTONS (Generic)
=======================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}

/*=====================================================
        ANIMATE
=====================================================*/

#home-cover, #home-heading, #home-btn{
    animation-duration: .5s;
}
#home-cover {
    animation-delay: .1s;
    
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
   
}